.build/
.swiftpm/
dist/
.DS_Store
Mobile/Resources/Assets.xcassets/AppIcon.appiconset/AppIconSource.png
Mobile/ChameoMobile.xcodeproj/xcuserdata/
Mobile/ChameoMobile.xcodeproj/project.xcworkspace/xcuserdata/


TODO
